.content-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.content-display-container > .quote-container {
    max-width: 800px;
    height: 100%;
    position: relative;
}

.content-display-container > .quote-container > .flex-container {
    display: flex;
    margin-bottom: 100px;
}

.content-display-container > .quote-container > .flex-container > .border-quote {
    display: inline-block;
    width: 8px;
    background-color: #F7DF94;
    color: #F7DF94;
    margin-right: 100px;
}

.content-display-container > .quote-container > .flex-container > .quote-text {
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    color: #000000;
}

.author-container {
    background-color: transparent;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background 0.3s;
}
.author-container:hover {
    background-color: #333333;
}

.author-container .author-name-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color: #4F4F4F;
    margin-bottom: 8px;
}

.author-container:hover .author-name-text  {
    color: #F2F2F2;
}

.author-container .author-job-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #828282;
}
.material-icons.white600 {
    color: #F2F2F2;
}